// ----------------------------------------------------------------------
////
/// @group Color
////

/// @return {color} - Color Value
/// @example scss SCSS
/// .foo {
///   color: cds-get-color("costco-blue")
/// }
/// @example css Rendered
/// .foo {
///   color: #005dab;
/// }
@function cds-get-color($variant, $attribute: null) {
  @if ($attribute == null) {
    @return map-get-deep($cds-tokens, "color", #{$variant});
  } @else {
    @return map-get-deep($cds-tokens, "color", #{$attribute}, #{$variant});
  }
}

//Color Mixins

/// @param {String} $variant - Variant Key (check tokens for full list)
/// @param {String} $attribute [null] - Attribute.
/// If attribute param is not used, then it is a base key (contextless).
/// @param {Bool} $important [false] - Add !important
/// @example scss
/// .foo {
///   @include cds-color-text(costco-blue);
///  }
/// @example css Rendered
/// .foo {
///   color: #005dab;
/// }
@mixin cds-color-text($variant, $important: null, $attribute: null) {
  @if ($important == true) {
    color: cds-get-color($variant, $attribute) !important;
  } @else {
    color: cds-get-color($variant, $attribute);
  }
}

/// @param {String} $variant - Variant Key (check tokens for full list)
/// @param {String} $attribute [null] - Attribute.
/// If attribute param is not used, then it is a base key (contextless).
/// @param {Bool} $important [false] - Add !important
/// @example scss
/// .foo {
///   @include cds-color-bg(costco-blue);
///  }
/// @example css Rendered
/// .foo {
///   background-color: #005dab;
/// }
@mixin cds-color-bg($variant, $important: null, $attribute: null) {
  @if ($important == true) {
    background-color: cds-get-color($variant, $attribute) !important;
  } @else {
    background-color: cds-get-color($variant, $attribute);
  }
}

/// @param {String} $variant - Variant Key (check tokens for full list)
/// @param {String} $attribute [null] - Attribute.
/// If attribute param is not used, then it is a base key (contextless).
/// @param {Bool} $important [false] - Add !important
/// @example scss
/// .foo {
///   @include cds-color-border(costco-blue);
///  }
/// @example css Rendered
/// .foo {
///   border-color: #005dab;
/// }
@mixin cds-color-border($variant, $important: null, $attribute: null) {
  @if ($important == true) {
    border-color: cds-get-color($variant, $attribute) !important;
  } @else {
    border-color: cds-get-color($variant, $attribute);
  }
}

//Color Utilities
//TODO Add to docs
//Not really sure if these should be in here, but these classes are in here for prototyping

$color-map: map-get-deep($cds-tokens, "color");

@each $name, $color in $color-map {
  @if (type-of($color) != map) {
    .cds-u-color-text-#{$name} {
      @include cds-color-text($name, true);
    }

    .cds-u-color-bg-#{$name} {
      @include cds-color-bg($name, true);
    }

    .cds-u-color-border-#{$name} {
      @include cds-color-border($name, true);
    }
  } @else if (type-of($color) == map) {
    //This is iterating one levels deeper to get more context-based tokens
    $inner-map: map-get-deep($cds-tokens, "color", #{$name});
    @each $inner-name, $inner-color in $inner-map{
      @if ($name == "text")
      {
        .cds-u-color-text-#{$inner-name} {
          @include cds-color-text($inner-name, true, $name);
        }
      }
      @if ($name == "border")
      {
        .cds-u-color-border-#{$inner-name} {
          @include cds-color-border($inner-name, true, $name);
        }
      }

    }
  }
}

//remove if not needed
.label-outline.form-label.active {
  @include cds-color-text("red-500", true);
}

//remove if not needed
.label-outline.form-label {
  @include cds-color-text("gray-900");
}
