//Typography Functions

@function cds-get-font-size($font-size)
{
  @return map-get-deep($cds-tokens,"font","size", #{$font-size});
};

//TODO Add option to return multiple instead of pixel

@function cds-get-font-line-height($line-height)
{
  @return map-get-deep($cds-tokens,"font","line-height", #{$line-height});
};

@function get-font-weight($weight)
{
  @return map-get-deep($cds-tokens,"font","weight", #{$weight});
};


//Typography Mixins

@mixin cds-font-size($font-size, $important: false) {
  @if $important == true {
    font-size: cds-get-font-size($font-size) !important;
  } @else {
    font-size: cds-get-font-size($font-size);
  }
}

@mixin cds-font-weight($weight) {
  font-weight: get-font-weight($weight);
}

@mixin cds-font-line-height($line-height, $important: false) {
  @if $important == true{
	line-height: cds-get-font-line-height($line-height) !important;
  } @else {
	line-height: cds-get-font-line-height($line-height);
  }	
}

@mixin cds-typeset($type) {
  font-size: map-get-deep($cds-tokens, "type","font","#{$type}-mobile","size");
  line-height: map-get-deep($cds-tokens, "type","font","#{$type}-mobile","line-height");
  @include cds-mq-min-lg
  {
    font-size: map-get-deep($cds-tokens, "type","font","#{$type}-desktop","size");
    line-height: map-get-deep($cds-tokens, "type","font","#{$type}-desktop","line-height");
  }
}

//Helper classes

// Font Size
$font-size: map-get-deep($cds-tokens, "font", "size");

@each $name, $size  in $font-size { 
  @if (type-of($size) != map) {
      .cds-font-size-#{$name}{
        @include cds-font-size(#{$name}, true);
    }   
  }
}

//Line Height only
$line-height: map-get-deep($cds-tokens, "font", "line-height");

@each $name, $height in $line-height {
  @if (type-of($height) != map) {
    .cds-line-height-#{$name}{
      @include cds-font-line-height(#{$name}, true);
    }
  }
}

//Font Weight
$font-weight: map-get-deep($cds-tokens, "font", "weight");

@each $name, $weight in $font-weight {
  @if (type-of($weight) != map) {
    .cds-u-font-#{$name}{
      @include cds-font-weight(#{$name});
    }
  }
}

//Font Size and line-height
.cds-t1 {
  @include cds-typeset("t1");
}

.cds-t2 {
  @include cds-typeset("t2");
}

.cds-t3 {
  @include cds-typeset("t3");
}

.cds-t4 {
  @include cds-typeset("t4");
}

.cds-t5 {
  @include cds-typeset("t5");
}

.cds-t6 {
  @include cds-typeset("t6");
}

.cds-t7 {
  @include cds-typeset("t7");
}

.cds-body-copy {
  @include cds-typeset("body-copy");
}
