// ----------------------------------------------------------------------
////
/// @group Border
////


/// @param {String} $radius - Radius Key
/// @return {Number} - Radius Value
/// @example scss
/// .foo {
///   border-radius: get-radius(md);
///  }
/// @example css Rendered
/// .foo {
///   border-radius: 3px;
///   }
@function get-radius($variant, $attribute: null) {
  @if ($attribute == null) {
    @return map-get-deep($cds-tokens, "radius", #{$variant});
  } @else {
    @return map-get-deep($cds-tokens, "radius", #{$attribute}, #{$variant});
  }
}

/// @param {String} $border-width - Border-width Key
/// @return {String} - Border-width Value
/// @example scss
/// .foo {
///   border-width: get-border-width(medium);
/// }
/// @example css Rendered
/// .foo {
///   border-width: 2px;
/// }
@function get-border-width($variant, $attribute: null) {
  @if ($attribute == null) {
    @return map-get-deep($cds-tokens, "size","border-width", #{$variant});
  } @else {
    @return map-get-deep($cds-tokens, "size", "border-width", #{$attribute}, #{$variant});
  }
}

//Radius
/// @param {String} $radius - Radius Key
/// @example scss SCSS
/// .foo {
///   @include cds-radius(medium);
/// }
/// @example css Rendered
/// .foo {
///   border-radius: 2px;
/// }
@mixin cds-radius($radius, $important: null) {
  @if ($important == true) {
  border-radius: get-radius($radius) !important;
  }@else {
    border-radius: get-radius($radius);
  }
}

//Border Width
/// @param {String} $border-width - Border-width Key
/// @example scss SCSS
/// .foo {
///   @include border-width(medium);
/// }
/// @example css Rendered
/// .foo {
///   border-width: 2px;
/// }
@mixin cds-border-width($border-width, $important: null) {
  @if ($important == true) {
    border-width: get-border-width($border-width) !important;
  }@else {
    border-width: get-border-width($border-width);
  }
}