@function px-to-em($px, $base: 16px) {
    @return $px / $base * 1em;
}


@mixin u-center()
{
	margin: 0 auto;
}

@mixin u-removeLeftMargins
{
	margin-left: 0;
}

@mixin u-removeRightMargins
{
	margin-right: 0;
}

@mixin u-divider
{
	border-bottom: 1px solid $borderGrey !important;
}

//TODO Need to remove the 0 after the PX

@mixin u-button-tokens($token-map,$variant) {
  color: get-deepest-token($token-map, "buttons", "color", $variant, "","text");
  background-color: get-deepest-token($token-map, "buttons", "color", $variant, "default","background");
  border: get-deepest-token($token-map, "buttons", "size", $variant, "","border-width") solid;
  border-radius: map-get-deep($token-map,"buttons","radius");   //TODO: need to fix deepest to work with this
  height: get-deepest-token($token-map, "buttons", "size", $variant, "","height");
  width: get-deepest-token($token-map, "buttons", "size", $variant, "","width");
  font-size: map-get-deep($token-map,"buttons","font","size"); //TODO: need to fix deepest to work with this
  cursor: pointer;
  vertical-align: middle;
  &:hover {
    background-color: get-deepest-token($token-map, "buttons", "color", $variant, "hover","background");
  }
  &:focus {
    background-color: get-deepest-token($token-map, "buttons", "color", $variant, "focus","background");
  }
}


@mixin u-text-styles ($font-size-desktop,$font-line-height-desktop, $font-size-mobile,$font-line-height-mobile, $bp)
{
  font-size:$font-size-mobile;
	line-height:$font-line-height-mobile;
	@media (min-width: $bp) {
		font-size:$font-size-desktop;
		line-height:$font-line-height-desktop;
	}
}

@mixin fontSize($fontSize)
{
  font-size: u-get-font-size($fontSize);
};

@mixin lineHeight($lineHeight)
{
  line-height: u-get-line-height($lineHeight);
};