//TODO
//Add mixins for including dividers using :before & :after?
//Will have to review with additional use cases
//Maybe add default margins?

hr, .cds-horizontal-divider
{
    border-top: map-get-deep($cds-tokens,"dividers","size","border-width") solid map-get-deep($cds-tokens,"dividers","color","border")
}

.cds-vertical-divider
{
    display: inline-block;
    border-left: map-get-deep($cds-tokens,"dividers","size","border-width") solid map-get-deep($cds-tokens,"dividers","color","border");
}


