//Button Mixins

/*

USAGE



*/


@mixin cds-button-base
{
  cursor: pointer;
  vertical-align: middle;
  @include cds-padding-left(md);
  @include cds-padding-right(md);
  margin:0;
  text-decoration: none;
  display:inline-block;
  width: 100%;
  height: map-get-deep($cds-tokens,"buttons","size","height");
  font-size: map-get-deep($cds-tokens,"buttons","font","size");
  font-style:normal;
  text-align:center;
  border-radius: map-get-deep($cds-tokens,"buttons","radius");
  //TODO: Transitions
  // transition: background 250ms ease-in-out,
  //             transform 150ms ease;
  // -webkit-appearance: none;
  // -moz-appearance: none;
}

@mixin cds-button-variant($variant) 
{
  background-color: map-get-deep($cds-tokens, "buttons","color",$variant, "default","background");
  color: map-get-deep($cds-tokens, "buttons","color",$variant, "text");
  @if (map-get-deep($cds-tokens,"buttons","size",$variant,"border-width"))
  {
    border: map-get-deep($cds-tokens,"buttons","size",$variant,"border-width") solid map-get-deep($cds-tokens,"buttons","color",$variant,"border");
  } @else
  {
    border:none;
  }
  a {
    text-decoration: none;
    color: map-get-deep($cds-tokens, "buttons","color",$variant, "text");
  }
  &:hover {
    background-color: map-get-deep($cds-tokens,"buttons","color",$variant,"hover", "background");
    @if (map-get-deep($cds-tokens,"buttons","color",$variant,"hover", "text"))
    {
      color: map-get-deep($cds-tokens,"buttons","color",$variant,"hover", "text");
    }
  }
  &:focus {
    background-color: map-get-deep($cds-tokens, "buttons","color",$variant,"focus", "background");
    @if(map-get-deep($cds-tokens,"buttons","color",$variant,"focus", "text"))
    {
      color: map-get-deep($cds-tokens,"buttons","color",$variant,"focus", "text");
    }
  }
}

.cds-btn {

  @include cds-button-base();
  
  &--primary {
    @include cds-button-variant(primary);
  }

  &--primary-alternate {
    @include cds-button-variant(primary-alternate);
  }

  &--secondary {
    @include cds-button-variant(secondary);
  }

  &--outline-primary {
    @include cds-button-variant(outline-primary);
  }

  &--outline-secondary {
    @include cds-button-variant(outline-secondary);
  }
}