.c-footerWrapper
{
	height: 84px;
    border-top: 1px solid $borderGrey !important;
}

.c-footer
{
	padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
}


.c-footer__left {}

.c-footer__right{
    margin-left: auto; //This right aligns the menu for a flexbox
    ul {
        li {
        	a{
        		color: $bodyGrey;
        		&:hover
        		{
        			color: $blue--hover;
        		}
        	}
            display: inline-block;
            margin-left: 16px;
            margin-right: 16px;
        }
    }
}
