* {
    box-sizing: border-box;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {}

body {
    @include t-bodyFont;
    @include u-color-text("gray-900");
    background-color: $bg;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        color: $blue--hover;
    }
}

p {
    
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}