::selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}

//Function for grabbing color
@function u-get-color($color)
{
  @return map-get-deep($tokens,"color",#{$color}); 
};


//Typography

@function u-get-font-size($fontSize)
{
  @return map-get-deep($tokens,"font","size", #{$fontSize});  //have to use interpolation for numbers
};

@function u-get-line-height($fontSize)
{
  @return map-get-deep($tokens,"font","line-height", #{$fontSize});  //have to use interpolation for numbers
};

@mixin fontSize($fontSize)
{
  font-size: u-get-font-size($fontSize);
};

@mixin lineHeight($lineHeight)
{
  line-height: u-get-line-height($lineHeight);
};

.newfontfile
{
  @include fontSize(2);
  @include lineHeight(xl)
}