@mixin t-headerFont
{
	font-family: "soleil", helvetica, arial, sans-serif;
	font-weight: 500;
	line-height:1em;
}

@mixin t-bodyFont
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	// font-size: px-to-em(18px);
	// line-height: 1.5em;
	font-style:normal;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6
{
	@include t-headerFont;
	margin-top:0; //Added this for collapsed margins
}


//CDS Fonts
//MAYBE MOVE THIS TO TOOLS???

//Typography

@mixin u-font-size($font-size)
{
  font-size: get-font-size($font-size);
}

@mixin u-font-weight($weight){
  font-weight: get-font-weight($weight)
}

@mixin u-font-line-height($line-height)
{
  line-height: get-line-height($line-height);
}

@mixin u-typeset($type)
{
	font-size: get-deepest-token($cds-tokens,"type", "font","size","#{$type}-mobile");
	line-height: get-deepest-token($cds-tokens,"type", "font","line-height","#{$type}-mobile");
	@media (min-width: $screen-lg-min) {
		font-size:get-deepest-token($cds-tokens,"type", "font","size","#{$type}-desktop");
		line-height:get-deepest-token($cds-tokens,"type", "font","size","#{$type}-desktop");
	}
}


//Helper classes

.cds-t1
{
	@include u-typeset("t1")
}

.cds-t2
{
	@include u-typeset("t2")
}

.cds-t3
{
	@include u-typeset("t3")
}

.cds-t4
{
	@include u-typeset("t4")
}

.cds-t5
{
	@include u-typeset("t5")
}

.cds-t6
{
	@include u-typeset("t6")
}

.cds-t7
{
	@include u-typeset("t7")
}

.cds-body-copy
{
	@include u-typeset("body-copy")
}

.cds-t-weight-bold
{
	@include u-font-weight('bold');
}

.cds-t-weight-default
{
	@include u-font-weight('default');
}