@mixin t-headerFont
{
	font-family: "soleil", helvetica, arial, sans-serif;
	font-weight: 500;
	line-height:1em;
}

@mixin t-bodyFont
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	// font-size: px-to-em(18px);
	// line-height: 1.5em;
	font-style:normal;
	font-weight: 400;
}

@mixin t-bold
{
	font-weight:500;
}

h1, h2, h3, h4, h5, h6
{
	@include t-headerFont;
	margin-top:0; //Added this for collapsed margins
}

.t-introText
{
	@include t-bodyFont;
	font-size: px-to-em(22px);
}

.t-label
{
	@include t-bodyFont;
	color: $bodyGrey__lighter;
}

.t2__lessMargin
{
	font-size: px-to-em(34px);
	margin-bottom: px-to-em(4px);
}

.t-strike
{
	text-decoration: line-through;
}

//CHD Fonts


@mixin cds-typeMaker($componenet-variant)
{
	font-size: unquote($componenet-variant+-mobile-size);
	line-height: $componenet-variant+-mobile-line-height;
}

.cds-testMaker
{
 @include cds-typeMaker("$cds-type-font-t1");
}


@function makingText($styleName)
{
	@return "$"+$styleName+"desktop-size";
}

.cds-t1-test2
{
	font-size: makingText("$cds-type-font-t1");
}

.cds-t1-test
{
	@include u-text-styles($cds-type-font-t1-desktop-size,$cds-type-font-t1-desktop-line-height, $cds-type-font-t1-mobile-size,$cds-type-font-t1-mobile-line-height,$screen-lg-min)
}

.cds-t1
{
	font-size:$cds-type-font-t1-mobile-size;
	line-height:$cds-type-font-t1-mobile-line-height;
	@media (min-width: $screen-lg-min) {
		font-size:$cds-type-font-t1-desktop-size;
		line-height:$cds-type-font-t1-desktop-line-height;
	}
}


.cds-t2
{
	font-size:$cds-type-font-t2-mobile-size;
	line-height:$cds-type-font-t2-mobile-line-height;
	@media (min-width: $screen-lg-min) {
		font-size:$cds-type-font-t2-desktop-size;
		line-height:$cds-type-font-t2-desktop-line-height;
	}
}

.cds-t3
{
	font-size:$cds-type-font-t3-mobile-size;
	line-height:$cds-type-font-t3-mobile-line-height;
	@media (min-width: $screen-lg-min) {
		font-size:$cds-type-font-t3-desktop-size;
		line-height:$cds-type-font-t3-desktop-line-height;
	}
}

.cds-t4
{
	font-size:$cds-type-font-t4-mobile-size;
	line-height:$cds-type-font-t4-mobile-line-height;
	@media (min-width: $screen-lg-min) {
		font-size:$cds-type-font-t4-desktop-size;
		line-height:$cds-type-font-t4-desktop-line-height;
	}
}

.cds-t5
{
	font-size:$cds-type-font-t5-mobile-size;
	line-height:$cds-type-font-t5-mobile-line-height;
	@media (min-width: $screen-lg-min) {
		font-size:$cds-type-font-t5-desktop-size;
		line-height:$cds-type-font-t5-desktop-line-height;
	}
}

.cds-t6
{
	font-size:$cds-type-font-t6-mobile-size;
	line-height:$cds-type-font-t6-mobile-line-height;
	@media (min-width: $screen-lg-min) {
		font-size:$cds-type-font-t6-desktop-size;
		line-height:$cds-type-font-t6-desktop-line-height;
	}
}

.cds-t7
{
	font-size:$cds-type-font-t7-mobile-size;
	line-height:$cds-type-font-t7-mobile-line-height;
	@media (min-width: $screen-lg-min) {
		font-size:$cds-type-font-t7-desktop-size;
		line-height:$cds-type-font-t7-desktop-line-height;
	}
}

.cds-body-copy
{
	font-size:$cds-type-font-body-copy-mobile-size;
	line-height:$cds-type-font-body-copy-mobile-line-height;
	@media (min-width: $screen-lg-min) {
		font-size:$cds-type-font-body-copy-desktop-size;
		line-height:$cds-type-font-body-copy-desktop-line-height;
	}
}