//Colors

$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);


$headerGrey: #494949;
$bodyGrey: #4A4A4A;
$bodyGrey__lighter: #878787;
$barGrey: rgba($bodyGrey, .1);
$borderGrey: rgba(151, 151,151, .40);

$bg: #F7F7F7;


$blue: #217FBE;
$blue--hover: lighten($blue, 15%);



//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Phone portrait
$screen-xs:                  1px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Phone landscape
$screen-sm:                  376px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Tablet Portrait
$screen-md:                  668px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Tablet Landscape
$screen-lg:                  769px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// Desktop
$screen-xl:                  1025px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:				 ($screen-xl-min - 1) !default;
